
    {% extends "clarityviz/header.html" %}

    {% block content %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                {% if token %}
                    <h1>{{token}}</h2>
                {% endif %}
            </div>
        </div>
    </header>

    <body>

    <section class="bg-graph" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">

                    <a href="/clarityviz/download/' + absPath + '">' + os.path.basename(filename) + "</a> <br />

                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlaslocaleq.nii">Aut1367reorient_atlaslocaleq.nii</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas.nodes.csv">Aut1367reorient_atlas.nodes.csv</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_edge_count_pointcloud.html">Aut1367reorient_atlas_edge_count_pointcloud.html</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas.graphml">Aut1367reorient_atlas.graphml</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas.region.csv">Aut1367reorient_atlas.region.csv</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_density_pointcloud_heatmap.html">Aut1367reorient_atlas_density_pointcloud_heatmap.html</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_region_pointcloud.html">Aut1367reorient_atlas_region_pointcloud.html</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas.edges.csv">Aut1367reorient_atlas.edges.csv</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlaslocaleq.csv">Aut1367reorient_atlaslocaleq.csv</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_density_pointcloud.html">Aut1367reorient_atlas_density_pointcloud.html</a> <br />
                    <a href="/clarityviz/download//root/seelviz/django/seelviz/Aut1367reorient_atlas.zip">Aut1367reorient_atlas.zip</a> <br /><br />

                    <a href="/clarityviz/plot/{{token}}" class="page-scroll btn btn-default btn-xl sr-button">Edge Count Pointcloud</a> <br /><br />
                    <a href="/clarityviz/plot//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_edge_count_pointcloud.html" class="page-scroll btn btn-default btn-xl sr-button">Edge Count Pointcloud</a> <br /><br />
                    <a href="/clarityviz/plot//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_density_pointcloud_heatmap.html" class="page-scroll btn btn-default btn-xl sr-button">Density Pointcloud Heatmap</a> <br /><br />
                    <a href="/clarityviz/plot//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_region_pointcloud.html" class="page-scroll btn btn-default btn-xl sr-button">Atlas Region Pointcloud</a> <br /><br />
                    <a href="/clarityviz/plot//root/seelviz/django/seelviz/output/Aut1367reorient_atlas/Aut1367reorient_atlas_density_pointcloud.html" class="page-scroll btn btn-default btn-xl sr-button">Density Pointcloud</a> <br /><br />
    
                </div>
            </div>
        </div>
    </section>
    </body>
    </html>
    {% endblock %}
    