{% extends "clarityviz/header.html" %}

{% block content %}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            {% if type %}
                <h1>{{type}}</h2>
            {% endif %}
        </div>
    </div>
</header>

<body>

    <section class="bg-graph" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">



                </div>
            </div>
        </div>
        <div class="container">
            {% if description %}
                <p>{{description}}</p>
            {% endif %}
        </div>
    </section>
</body>
{% endblock %}